a.add-plus {
  font-family: "Nunito";
  color: brown;
  line-height: 1.2;
  top: -20px;
  text-decoration: none;
  display: block;
  /* position: relative; */
  margin: 0;
  border: 0px;
  box-sizing: border-box;
  background-color: #ff5a5f;
  text-align: center;
  height: 50px;
  width: 200px;
  padding: 15px;
  border-radius: 25px;
}

.flaticon-plus {
  font-size: 20px;
  color: white;
}

.create-listing {
  font-size: 20px;
  color: white;
}

.navbar-brand span {
  color: white;
}

.navbar-collapse {
  display: flex;
}
ul.navbar-nav {
  justify-content: flex-end;
  margin-left: 55% !important;
}

.home-page {
  background-image: url(/Images/background-img.jpg);
  height: 900px;
  background-repeat: no-repeat;
}

.nav-link:hover {
  color: white;
}
/* .home-page:before {
  content: "";
  background-color: rgb(29, 41, 62);
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
} */

.find h2, p {
  color: white;
}

.find {
  box-sizing: border-box;
  padding-top: 400px;
  padding-left: 700px;
}

.btn-search {
  background-color: red;
  color: white;
  border-color: red;
}

.btn-search:hover {
  background-color: white;
  color: red;
  border-color: red;
}

.nav-search {
  background-color: rgba(255,255,255, .15);
  border-radius: 8px;
  content: "";
  position: absolute;
  box-sizing: border-box;
  justify-content: center;
  border-radius: 10px;
}



a.advanced {
  background-color: white;
  color: black;
  text-align: center;
}

.input-srch {
  box-sizing: border-box;
  margin: 15px;
  border-radius: 8px;
}


.apartment {
  color: red;
}

.featured-properties {
  justify-content: center;
}

p.handpicked {
  color: gray;
}

pre {
  color: grey;
}

p.city {
  color: gray;
}

.img-city {
  box-sizing: border-box;
  padding: 10px;
}


.these-cities {
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 40px;
}

p.city-p {
  color: black;
}

.fas {
  font-size: 60px;
  background-color: pink;
  color: red;
  text-align: center;
  box-sizing: border-box;
  padding: 50px;
  border-radius: 50%;
}

.fas:hover {
  color: white;
  background-color: red;
}



.choose {
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 40px;
}

.card-deck {
  box-sizing: border-box;
  padding-top: 20px;
}


.testimonials {
  background-image: url(/Images/bg-img.jpg);
  height: 700px;
  box-sizing: border-box;
  padding: 40px;
}


.img-silva {
  box-sizing: border-box;
  padding: 80px;
}


.articles-tips {
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 40px;
}

.card-business {
  color: red;
}

.city-business {
  color: black;
  font-size: 20px;
}

.business-img {
  box-sizing: border-box;
  padding: 10px;
}

.articles-tips {
  background-color: #c7bbbb;
}

.partners {
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 40px;
}

.logos {
  box-sizing: border-box;
  padding-top: 30px;
}

.logos-abc {
  display: flex;
  justify-content: space-between;
}

.become {
  box-sizing: border-box;
  padding-top: 70px;
  padding-bottom: 50px;
  background-color: red;
  height: 200px;
}

.become-agent {
  display: flex;
  justify-content: space-between;
}

.btn-register {
  box-sizing: border-box;
  padding: 20px;
  background-color: rgb(187, 70, 70);
  color: white;
  border-color:  rgb(187, 70, 70);
}

.btn-register:hover {
  background-color: green;
  border-color: green;
}


.footer-1 {
  background-color: #24324a;
}


.footer-row {
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-end {
  color: white;
}

li.footer-end {
  list-style-type: none;
}


.register-p {
  font-size: 20px;
  font-weight: 15px;
}


.your-email {
  background-color: #3a4c6b;
  font-size: 20px;
  border-radius: 25px;
}



.made-with-love {
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #395079;
}

.a-end {
  color: #8193b1e0;
}

.a-end:hover {
  color: white;
}

.row-end {
  display: flex;
  justify-content: space-between;
}

.btn-buy-rent {
  display: flex;
  justify-content: center;
}

.btn-buy-rent-2 {
  background-color: white;
  border: 25px;
}

.btn-buy-rent-2:hover {
  color: red;
}


/* Bu sətrdən artıq Listing başlayır. */

.search-text {
  border-radius: 25px;
  box-sizing: border-box;
  padding: 5px;
}

.form-group {
  box-sizing: border-box;
  padding: 10px;
}

.form-box {
  background-color: rgb(197, 193, 193);
}

.listing-grid {
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
}

.listing {
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 30px;
}

.second-div {
  box-sizing: border-box;
  padding: 40px;
}

.card {
  box-sizing: border-box;
  padding: 10px;
}

.card-box {
  box-sizing: border-box;
  padding: 10px;
}
.form-box {
  display: flex;
}

.p-9 {
  color: black;
}

.all-status1 {
  /* display: inline-block; */
  box-sizing: border-box;
  padding: 0px;
}

.all-status2 {
  /* display: inline-block; */
  box-sizing: border-box;
  padding: 0px;
}


.card-listing {
  padding: 0px;
}

.listing-p {
  color: red;
}

.listing-city {
  color: grey;
}

.all-status1 {
  display: flex;
  align-items: center;
}


/* All Agents hissesi */

.simple-listing {
  color: red;
}

/* Christopher Pakulla - index4 */

.listing-pakulla {
  color: red;
}


.blck-p {
  color: black;
}